<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <nav class="navbar navbar-expand-sm navbar-light bg-info ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="userManagement" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User Management
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="userManagement">
                        <li><a class="dropdown-item" asp-controller="User" asp-action="AllUsers">Add Users</a></li>
                        <li><a class="dropdown-item" asp-controller="User" asp-action="AddAdmin">Add Admin User</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="jobDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Job
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="jobDropdown">
                        <li><a class="dropdown-item" asp-controller="JobTitle" asp-action="index">Job Titles</a></li>
                        <li><a class="dropdown-item" asp-controller="paygrades" asp-action="index">Pay Grades</a></li>
                        <li><a class="dropdown-item" asp-controller="employmentstatus" asp-action="index">Employment Status</a></li>
                        <li><a class="dropdown-item" asp-controller="jobcategory" asp-action="index">Job Categories</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="organizationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Organization
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="organizationDropdown">
                        <li><a class="dropdown-item" asp-controller="CompanyInfo" asp-action="index">Company Info</a></li>
                        <li><a class="dropdown-item" asp-controller="CompanyBranch" asp-action="index">Company Branch</a></li>
                        <li><a class="dropdown-item" asp-controller="Department" asp-action="index">Department</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" id="qualificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Qualification
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="qualificationDropdown">
                        <li><a class="dropdown-item" asp-controller="Skill" asp-action="index">Skills</a></li>
                        <li><a class="dropdown-item" asp-controller="Education" asp-action="index">Education</a></li>
                        <li><a class="dropdown-item" asp-controller="License" asp-action="index">Licenses</a></li>
                        <li><a class="dropdown-item" asp-controller="Language" asp-action="index">Languages</a></li>
                        <li><a class="dropdown-item" asp-controller="Membership" asp-action="index">Memberships</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-black" aria-current="page" asp-controller="Nationality" asp-action="index">Nationalities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-black" aria-current="page" asp-controller="Currency" asp-action="index">Currencies</a>
                </li>
            </ul>
        </nav>
    </div>

</div>