<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <nav class="navbar navbar-expand-sm navbar-light bg-info ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="Employee" asp-action="Index">All Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="User" asp-action="signup">Add Employee</a>
                </li>
            </ul>
        </nav>
    </div>

</div>