
@model EmployeeWorkExperienceModel

@{
    ViewData["Title"] = "Employee Work Experience | HeroHRM human resource manager";

}
<partial name="_employeePartial" />
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h3>Add Employee Work Experience</h3>
        </div>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show w-100 m-auto  my-1" role="alert">
                <strong>Congratulations</strong> You have added new Employee Work Experience successfully. <br />
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card-body bg-light p-3">
            <div class="row g-3 align-items-center ">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="CompanyName" class="form-label"></label>
                                <input asp-for="CompanyName" class="form-control">
                                <span class="text-danger" asp-validation-for="CompanyName"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="From" class="form-label"></label>
                                <input asp-for="From" class="form-control">
                                <span class="text-danger" asp-validation-for="From"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="To" class="form-label"></label>
                                <input asp-for="To" class="form-control">
                                <span class="text-danger" asp-validation-for="To"></span>
                            </div>
                       


                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="JobTitle" class="form-label"></label>
                                <input asp-for="JobTitle" class="form-control">
                                <span class="text-danger" asp-validation-for="JobTitle"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Comment" class="form-label"></label>
                                <textarea asp-for="Comment" class="form-control"></textarea>
                                <span class="text-danger" asp-validation-for="Comment"></span>
                            </div>


                        </div>

                    </div>

                    <hr />
                    <button type="submit" class="btn btn-success btn-ld">Save</button>
                    <a class="btn btn-outline-danger ms-3" asp-controller="Employee" asp-action="index">Cancel</a>

                </form>

            </div>

        </div>
    </div>

</div>
