
@model EmployeeLanguageModel

@{
    ViewData["Title"] = "Employee Language| HeroHRM human resource manager";

}
<partial name="_employeePartial" />
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h3>Add Employee Job</h3>
        </div>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show w-100 m-auto  my-1" role="alert">
                <strong>Congratulations</strong> You have added new Employee Language successfully. <br />
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card-body bg-light p-3">
            <div class="row g-3 align-items-center ">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="LanguageId" class="form-label"></label>
                                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.Language">
                                    <option value="">Please Choose Language</option>
                                </select>
                                <span class="text-danger" asp-validation-for="LanguageId"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Fluency" class="form-label"></label>
                                <select asp-for="Fluency" class="form-control" asp-items="ViewBag.Fluency">
                                    <option value="">Please Choose Fluency</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Fluency"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Competency" class="form-label"></label>
                                <select asp-for="Competency" class="form-control" asp-items="ViewBag.Competency">
                                    <option value="">Please Choose Competency</option>
                                </select>
                                <span class="text-danger" asp-validation-for="Competency"></span>
                            </div>
                          


                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="Comments" class="form-label"></label>
                                <textarea asp-for="Comments" class="form-control"></textarea>
                                <span class="text-danger" asp-validation-for="Comments"></span>
                            </div>
                    

                        </div>

                    </div>

                    <hr />
                    <button type="submit" class="btn btn-success btn-ld">Save</button>
                    <a class="btn btn-outline-danger ms-3" asp-controller="Employee" asp-action="index">Cancel</a>

                </form>

            </div>

        </div>
    </div>

</div>
