
@model EmployeeImmigrationModel

@{
    ViewData["Title"] = "Employee Immigration Information | HeroHRM human resource manager";
    var Data = ViewBag.Data;
}
<partial name="_employeePartial" />
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h3>Update Employee Immigration</h3>
        </div>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show w-100 m-auto  my-1" role="alert">
                <strong>Congratulations</strong> You have Updated Employee Immigration successfully. <br />
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card-body bg-light p-3">
            <div class="row g-3 align-items-center ">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="IssuedBy" class="form-label"></label>
                                <select asp-for="IssuedBy" class="form-control" asp-items="ViewBag.Nationality">
                                    <option value="">Please Choose Your Country</option>
                                </select>
                                <span class="text-danger" asp-validation-for="IssuedBy"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="DocumentType" class="form-label"></label>
                                <select asp-for="DocumentType" class="form-control" asp-items="ViewBag.DocumentType">
                                    <option value="">Please Choose Your Nationality</option>
                                </select>
                                <span class="text-danger" asp-validation-for="IssuedBy"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Number" class="form-label"></label>
                                <input value="@Data.Number" asp-for="Number" class="form-control">
                                <span class="text-danger" asp-validation-for="Number"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="EligibleStatus" class="form-label"></label>
                                <input asp-for="EligibleStatus" class="form-control">
                                <span class="text-danger" asp-validation-for="EligibleStatus"></span>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="IssuedDate" class="form-label"></label>
                                <input asp-for="IssuedDate" class="form-control">
                                <span class="text-danger" asp-validation-for="IssuedDate"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ExpiryDate" class="form-label"></label>
                                <input asp-for="ExpiryDate" class="form-control">
                                <span class="text-danger" asp-validation-for="ExpiryDate"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="EligibleReviewDate" class="form-label"></label>
                                <input asp-for="EligibleReviewDate" class="form-control">
                                <span class="text-danger" asp-validation-for="EligibleReviewDate"></span>
                            </div>

                        </div>

                    </div>

                    <hr />
                    <button type="submit" class="btn btn-success btn-ld">Save</button>
                    <a class="btn btn-outline-danger ms-3" asp-controller="Employee" asp-action="index">Cancel</a>

                </form>

            </div>

        </div>
    </div>

</div>
