
@{
    Layout = "";
}
@model SignInModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login HeroHRM</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

</head>
<body class="text-center">

    <main class="form-signin">
        <form method="Post" class="mt-5">

            <h1 class="text-primary">HeroHRM</h1>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input asp-for="UserName" class="form-control" id="floatingInput" placeholder="User Name">
                <label asp-for="UserName">User Name</label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Sign in</button>

            <small class="text-muted">Hint username:'Admin' Password: 'admin123'</small>
            <small class="text-muted">Hint username:'sonny' Password: 'sonny'</small>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>



</body>
</html>
